/* box sizing */ *,*::before,*::after{ box-sizing: border-box; }

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

/* |---------------------| */
/* |      GLOBAL CSS     | */
/* |---------------------| */

/* Html */
html{
    scroll-behavior: smooth;
}

/* Root */
:root{
    /* Color palette - przykładowe */
    --primaryColor: #f5f5f5;
    --textColor: #111;
    --lighterTextColor: #666;
    --accentColor: #68b862;
    --lightAccentColor: #9ada84;
    --backgroundColor: #dfdfdf;
    --transition: 0.2s linear all;
}

/* Body */
body{
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: 'Roboto',sans-serif;
    color: var(--textColor);
}

/* General */

p {
    margin: 0;
}
hr{
    max-width: 400px;
    height: 3px;
    border: none;
    background-color: var(--accentColor);
    margin-bottom: 30px;
}


.btn{
    display: block;
    padding:10px;
    border: 3px var(--accentColor) solid;
    background: transparent;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 2rem;
    width: max-content;
    margin: 1rem auto;
    transition: var(--transition);
}
.btn:hover{
    transform: scale(.95);
    background-color: var(--accentColor);
}

/* Animations */
@keyframes fadeOut {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Utils */
.my1{
    margin: 1rem 0;
}
.my2{
    margin: 2.5rem 0;
}
.my3{
    margin: 3rem 0;
}
.m-center{
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

/* Paralax Background */
.parallax{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    width:100vw;
    height: 100vh;
    background: url('./img/background.png');

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Up button */
.up-btn{
    position: fixed;
    background-color: var(--accentColor);
    right: 50px;
    bottom: 50px;
    font-size: 3rem;
    width: 60px;
    height: 60px;
    text-align: center;
    color: white;
    border-radius: .5rem;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}
.up-btn:hover{
    transform: scale(.9);
}
.show-up-btn{
    visibility: visible;
    opacity: 1;
}

/* Main navbar */
.nav{
    padding: 0rem 1.5rem;
    background-color: var(--primaryColor);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-toggle{
    background: transparent;
    border: none;
    color: var(--textColor);
    font-size: 1.5rem;
    transition: var(--transition);
}
.nav-toggle:hover{
    color: var(--lighterTextColor);
}
.logo{
    letter-spacing: .2rem;
    font-size: 1.2rem;
    color: var(--textColor);
}
.links-container{
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}
.links{
    list-style-type: none;
}
.links a{
    color: var(--textColor);
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    letter-spacing: 0.2rem;
    padding: 1.5rem 0;
    transition: var(--transition);
}
.links a:hover{
    color: var(--lighterTextColor);
}

@media screen and (min-width:900px) {
    .nav-center{
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-header{
        padding:0;
    }
    .nav-toggle{
        display: none;
    }
    .links-container{
        height: auto !important;
    }
    .links{
        display: flex;
    }
    .links a{
        text-transform: capitalize;
        display: block;
        letter-spacing: 0.2rem;
        padding: 0;
        margin:0 1rem;
    }
}
/* Hero */
#hero{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 150px;
    border-radius: 25px;
}
#hero h1{
    font-size: 3rem;
}
#hero p{
    max-width: 800px;
}
#hero button{
    border: 3px var(--accentColor) solid;
    background: transparent;
    color: #fff;
    padding: 10px;
    border-radius: 25px;
    font-size: 1.1rem;
    letter-spacing: .2rem;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    transition: .2s ease-in-out all;
    margin-top: 10px;
}
#hero button:hover{
    background-color: var(--accentColor);
    color: white;
}

/* Main */
main section{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding-top: 10px;
}
.section-center{
    max-width: 1200px;
    margin: 0 auto;
}
.wave{
    margin:0;
    position: relative;
    top:10px;
}
section h1{
    text-align: center;
}

/* About us */
.wrapper{
    display: grid;
    grid-template-columns: 60% 40%;
    background: #f5f5f5;
    padding: 15px;
    border-radius: .5rem;
    box-shadow: 10px 10px 23px -11px rgba(0,0,0,0.26);
}
.right{
    margin-left: 20px;
}
.pic{
    border-radius: .5rem;
    width:100%;
}

@media screen and (max-width:1000px) {
    .wrapper{
        display: block;
    }
    .pic{
        margin: 5px auto;
        display: block;
    }
    .right{
        margin-left: 0;
        margin-top: 15px;
    }
}

footer{
    background: #dedede;
    color: #333;
    text-align: center;
    padding: 5px;
}
.dark{
    background: #333;
    color: white;
}
.dark .wrapper{
    background: #4e4e4e;
}

#about-project .wrapper{
    grid-template-columns: 40% 60%;
}


@media screen and (max-width: 1200px) {
    .section-center{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .slider{
        max-width: 800px;
        margin: 0 auto;
    }
}